@import '../../../containers/App/theme.scss';

.mainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  float: 1;
  background-color: $widget-body;
  width: 100%;
  height: 100%;
}
