@import "react-contextmenu";

.currencyItemsWrap {
  display: block;
  flex: 1;
  overflow: hidden;
}

.currencyList {
  display: flex;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  flex-direction: column;
  position: relative;
  flex: 1;
}

.currencyItem {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 0.84em;
  color: #c5c8cc;
  cursor: pointer;
  height: 34px;
  padding: 9px 7px 9px 10px;
  position: relative;

  &:nth-child(even) {
    background-color: #181f2c;
  }

  &:hover {
    background-color: #262b3e;
  }

  div {
    flex: 1;
    &:not(:first-child) {
      text-align: right;
    }
  }
}

.currencyItem.up {
  .bidMarket,
  .askMarket,
  .spread,
  .time {
    color: #29C359;
  }
}

.currencyItem.down {
  .bidMarket,
  .askMarket,
  .spread,
  .time {
    color: #DF2323;
  }
}
