@import "react-contextmenu";
@import '../../../../../containers/App/theme.scss';

.currencyItemsWrap {
  display: block;
  flex: 1;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
}

.currencyList {
  width: 100%;
  position: relative;

  td, th {
    min-width: 25px;
    text-align: end;
    height: 30px;
    margin: auto 10px;
    // z-index: 5;
  }
  
  th {
    position:-webkit-sticky;
    position: sticky;
    top: 0;
    background-color: $list-secondary-bg;
    box-shadow: 0 2px 0px  #888F;
    // z-index: 10;
  }
}

.currencyItem {
  align-items: center;
  font-size: 0.84em;
  color: $control-text;
  cursor: pointer;
  height: 34px;
  padding: 9px 7px 9px 10px;
  position: relative;

  .symbol{
    user-select: none;
  }
  background-color: $list-primary-bg;
  &:nth-child(even) {
    background-color: $list-secondary-bg
  }

  &:hover {
    background-color: $list-hover-bg;
  }
}

.currencyItem.up {
  .colorize {
    color: $up-text;
  }
}

.currencyItem.down {
  .colorize {
    color: $down-text;
  }
}