@import '../../../containers/App/theme.scss';

$grey: #888F;

.modalMain {
  z-index: 100;
  width: 400px;
  margin: 50px auto;

  background-color: $control-bg;
  display: flex;
  flex-direction: column;
  border: 1px solid $grey;
}

.header {
  justify-content: space-between;
  background-color: $widget-head;
  color: $control-text;
  align-items: center !important;
}

h1 {
  color: $control-text;
  font-size: 1.5em;
  line-height: 1em;
  margin: 5px 0;
  text-align: center;
}

.body {
  align-items: center;
  justify-content: center;
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px 20px;
  margin: 5px 0;
  align-items: flex-start;
  justify-content: space-between;
  .left {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h1 {
      margin: 10px 0;
      font-size: 1.2em;
    }
    input {
      margin: 10px 0;
      width: 150px;
      font-size: 1.2em;
      text-align: start;
    }
  }
  .right {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    h1 {
      margin: 10px 0;
      font-size: 1.2em;
      text-align: end;
    }
    input {
      margin: 10px 0;
      width: 150px;
      font-size: 1.2em;
      text-align: end;
    }
  }
}


.footer {
  justify-content: space-around;
  background-color: $widget-head;
  color: $control-text;
}

.squareButton {
  color: $grey;
  font-size: 1.5em;
  line-height: 1em;
  text-align: center;
  height: 30px;
  width: 30px;
  border: 1px solid $grey;
  border-radius: 10px;
  user-select: none;
  &:active {
    border-color: $control-tab-active-light;
    color: $control-tab-active-light;
  }
}

.buy {
  background-color: $up-text;
}
.sell {
  background-color: $down-text;
}

.button {
  font-size: 1.4em;
  color: $control-text;
  justify-content: center;
  height: 50%;
  display: flex;
  flex: 1;
  border: none;
  border-radius: 10px;
  margin: 10px;
}

.digitInput {
  h1 {
    text-align: center;
    margin: 5px;
    color: $grey;
    font-size: 1.2em;
  }
  .input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    * {
      min-width: 30px;
      border-radius: 0;
      &:first-child {
        border-radius: 10px 0 0 10px;
      }
      &:last-child {
        border-radius: 0 10px 10px 0;
      }
    }
    input {
      // height: 2em;
      padding: 3px;
      font-size: 1.2em;
      width: 100px;
      text-align: center;
      border: 1px solid $grey;
    }
  }
}

.dropdown {
  flex: 1;
  font-size: 1.2em;
  color: $control-text;
  background-color: $control-bg;
  border-color: $grey;
}

.modalOverlay {
  z-index: 99;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.6);
}