@import '../../../containers/App/theme.scss';

.label {
    position: relative;
    display: block;
    background-color: $control-bg;
    width: 36px;
    height: 20px;
    border: 2px solid $control-tab-active-light; 

    .checkbox {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        & ~ .mark {
            margin: 1px;
            content: '';
            width: 14px;
            height: 14px;
            background-color: $control-tab-active-light;
            position: absolute;
            display: block;
        }
        &:checked ~ .mark{
            margin-left: 17px;
        }
    }
}