@import '../../../../../containers/App/theme.scss';

.currencyWidgetHeader {
  display: block;
  font-size: 12px;
}

.mainSectionWrap {
  display: flex;
  justify-content: space-between;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  background-color: $widget-head ;
  align-items: center;
  padding-right: 5px;
  border-radius: 0;
}

.widgetHeaderTime {
  display: block;
  padding: 10px;
  color: $control-text;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  user-select: none;
}

.widgetHeader {
  display: block;
  padding: 10px;
  color: $control-text;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}

.filtered {
  color: tomato;
}