@import '../../../../../containers/App/theme.scss';

$grey: #888F;

.mainContainer {
  display: block;
  font-size: 0.9em;
  flex: 1;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  background-color: $control-bg;
}

.tableContainer {
  width: 100%;
  position: relative;
  border-spacing: 0 7px;
  border-collapse: separate;
  
  td, th {
    text-align: start;
    padding: 0 1rem;
    max-width: 100px;
  }
  
  th {
    height: 30px;
    user-select: none;
    position:-webkit-sticky;
    position: sticky;
    top: 0;
    color: $grey;
    font-size: .8em;
    background-color: $control-bg;
    box-shadow: 0 2px 0px  $grey;
    text-transform: uppercase;
    &:hover {
      background-color: $list-primary-bg;
    }
  }

  td {
    justify-content: space-between;
    text-overflow: ellipsis;
    flex-wrap: wrap;
    padding: 5px 1rem;
    background-color: $widget-head;
    &:first-child {
      border-radius: 12px 0 0 12px;
    }
    &:last-child {
      border-radius: 0 12px 12px 0;
    }
  }
}

.body {
  color: $control-text;
  span {
    color: #888F;
  }
}

.sortBy { 
	padding-right: 18px;
	position: relative;
}
.sortByUp:before,
.sortByDown:after {
	border: 6px solid transparent;
	content: "";
	display: block;
	height: 0;
	right: 5px;
	top: 50%;
	position: absolute;
	width: 0;
}
.sortByUp:before {
	border-bottom-color: $grey;
	margin-top: -14px;
}
.sortByDown:after {
	border-top-color: $grey;
	margin-top: 0px;
}

.green {
  color: $up-text;
}
.red {
  color: $down-text;
}