.homeContainer {
  display: flex;
}

.widgetContainer {
  display: flex;
  flex-direction: column;

  & > div {
    flex: 1;
  }
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chartSection {
  display: flex;
  height: 65%;
  flex-direction: row;
}

.ordersSection {
  height: 35%;
}
